@import "../../lib/_colors.scss";

header {
  background: $header-background;
  border-radius: 0 0 44px 44px;
  box-shadow: $header-shadow;
  padding: 24px;
}

header, main {
  max-width: 800px;
  margin: 0 auto;
}

main {
  margin-top: 16px;
  padding: 24px;
}
