@import "../../lib/_colors.scss";

header {
  background: $header-background;
  border-radius: 0 0 44px 44px;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

header, main {
 max-width: 800px;
  margin: 0 auto;
}
