@import "../../lib/_colors.scss";

.name-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name-positions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-size: 4rem;
    align-self: flex-start; /* optional */
    background: $thematic-gradient;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.cta-buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  align-self: flex-start;
}

.blinking-underscore {
  display: inline-block;
  color: inherit;
  animation: blink 1s step-end infinite;
  // Safari quirk fix:
  -webkit-animation: blink 1s step-end infinite;
  will-change: opacity;
}

.cursor {
  display: inline;
  animation: blink 1s infinite steps(2, start);
  -webkit-animation: blink 1s infinite steps(2, start); // Safari support
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
