@import "../../lib/_colors.scss";

.work-experience-tile {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .date-text {
    font-size: 0.75rem;
    margin-top: 4px;
    color: $text-paragraph-subtle;
  }

  p {
    font-size: 0.9rem;
  }

  a {
    text-decoration-thickness: 1px;
    color: $text-paragraph;
  }
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
