@import "../lib/_colors.scss";

html {
  background: $html-background;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

main {
  padding: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
